<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BodyType">

<select id="findBodyTypeInfo" resultType="map">
    SELECT *
    FROM BODY_TYPE
    WHERE BODY_TYPE = #{body_type}
      AND GENDER = #{gender}
</select>

<select id="findBodyResult" parameterType="map" resultType="map">
    SELECT BODY_TYPE, GENDER, SUMMARY, IMAGE_URL, TOP_TIPS, BOTTOM_TIPS, PATTERN_TIPS
    FROM BODY_TYPE
    WHERE BODY_TYPE = #{body_type} AND GENDER = #{gender}
</select>
    
</mapper>