<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BodySize">

    <insert id="insertBodySize">
        INSERT INTO body_analysis_size (
            seq,
            member_id,
            gender,
            shoulder,
            bust,
            waist,
            hip,
            height,
            body_type_result,
            created_at
        ) VALUES (
            body_analysis_size_seq.NEXTVAL,
            #{member_id},
            #{gender},
            #{shoulder},
            #{bust},
            #{waist},
            #{hip},
            #{height},
            #{body_type_result},
            SYSDATE
        )
    </insert>

</mapper>