<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Closet">

    <insert id="insertCloset" parameterType="com.tnt.project.dto.ClosetDTO">
        INSERT INTO CLOSET (
            SEQ,
            MEMBER_ID,
            CLOTHTYPE,
            UPPERIMAGEURL,
            UPPERNAME,
            LOWERIMAGEURL,
            LOWERNAME,
            CATEGORY,
            SAVEDATE
        ) VALUES (
            CLOSET_SEQ.NEXTVAL,
            #{memberId, jdbcType=VARCHAR},
            #{clothType, jdbcType=VARCHAR},
            #{upperImageUrl, jdbcType=CLOB},
            #{upperName, jdbcType=VARCHAR},
            #{lowerImageUrl, jdbcType=CLOB},
            #{lowerName, jdbcType=VARCHAR},
            #{category, jdbcType=VARCHAR},
            SYSDATE
        )
    </insert>

   <select id="getClosetList" resultType="com.tnt.project.dto.ClosetDTO">
    
    select * from closet 
    
    </select>
    
    
    
    <delete id="deleteCloth" parameterType="int">
    
    delete from closet where seq = #{seq}
    
    </delete>
    
</mapper>