<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Closet">

<insert id="insertCloset" parameterType="com.tnt.project.dto.ClosetDTO">
    INSERT INTO CLOSET (
        SEQ,
        MEMBER_ID,
        CLOTH_TYPE,
        UPPER_IMAGE_URL,
        UPPER_NAME,
        UPPER_COLOR_R,
        UPPER_COLOR_G,
        UPPER_COLOR_B,
        LOWER_IMAGE_URL,
        LOWER_NAME,
        LOWER_COLOR_R,
        LOWER_COLOR_G,
        LOWER_COLOR_B,	
        CATEGORY,
        lower_category,
        SAVE_DATE
    ) VALUES (
        CLOSET_SEQ.NEXTVAL,
        #{memberId, jdbcType=VARCHAR},
        #{clothType, jdbcType=VARCHAR},
        #{upperImageUrl, jdbcType=CLOB},
        #{upperName, jdbcType=VARCHAR},
        #{upperColorR, jdbcType=INTEGER},
        #{upperColorG, jdbcType=INTEGER},
        #{upperColorB, jdbcType=INTEGER},
        #{lowerImageUrl, jdbcType=CLOB},
        #{lowerName, jdbcType=VARCHAR},
        #{lowerColorR, jdbcType=INTEGER},
        #{lowerColorG, jdbcType=INTEGER},
        #{lowerColorB, jdbcType=INTEGER},
        #{category, jdbcType=VARCHAR},
        #{lowerCategory, jdbcType=VARCHAR},
        SYSDATE
    )
</insert>



 <resultMap id="closetResultMap" type="com.tnt.project.dto.ClosetDTO">
    <id property="seq" column="SEQ"/>
    <result property="memberId" column="MEMBER_ID"/>
    <result property="clothType" column="CLOTH_TYPE"/>
    <result property="upperImageUrl" column="UPPER_IMAGE_URL"/>
    <result property="upperName" column="UPPER_NAME"/>
    <result property="upperColorR" column="UPPER_COLOR_R"/>
    <result property="upperColorG" column="UPPER_COLOR_G"/>
    <result property="upperColorB" column="UPPER_COLOR_B"/>
    <result property="lowerImageUrl" column="LOWER_IMAGE_URL"/>
    <result property="lowerName" column="LOWER_NAME"/>
    <result property="lowerColorR" column="LOWER_COLOR_R"/>
    <result property="lowerColorG" column="LOWER_COLOR_G"/>
    <result property="lowerColorB" column="LOWER_COLOR_B"/>
    <result property="category" column="CATEGORY"/>
    <result property="lowerCategory" column="LOWER_CATEGORY"/>
    <result property="saveDate" column="SAVE_DATE"/>
</resultMap>

<select id="getClosetList" parameterType="string" resultMap="closetResultMap">
    select * from closet where member_id = #{memberId,jdbcType=VARCHAR}
</select>

    

    
    <delete id="deleteCloth" parameterType="int">
    
    delete from closet where seq = #{seq}
    
    </delete>
    
    
	<update id="editCloth" parameterType="map">
    update closet
    <set>
        <choose>
            <when test="type eq 'upper'">
                upper_name = #{name},
                upper_image_url = #{url},
                lower_name = null,
                lower_image_url = null,
                lower_category = null,
                category = #{category}
            </when>
            
            <otherwise>
                lower_name = #{name},
                lower_image_url = #{url},
                lower_category = #{category},
                upper_name = null,
                upper_image_url = null,
                category = null
            </otherwise>
        </choose>
        , cloth_type = #{type}
    </set>
    where seq = #{seq}
</update>


    
</mapper>