<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="History">

    <insert id="insertHistory" parameterType="com.tnt.project.dto.HistoryDTO">
        INSERT INTO history (
            seq,
            member_id,
            result_url,
            name,
            upper_image_url,
            upper_name,
            lower_image_url,
            lower_name,
            save_date
        ) VALUES (
            history_seq.NEXTVAL,
            #{memberId, jdbcType=VARCHAR},
            #{resultUrl, jdbcType=CLOB},
            #{name, jdbcType=VARCHAR},
            #{upperImageUrl, jdbcType=CLOB},
            #{upperName, jdbcType=VARCHAR},
            #{lowerImageUrl, jdbcType=CLOB},
            #{lowerName, jdbcType=VARCHAR},
            SYSDATE
        )
    </insert>

    <resultMap id="historyResultMap" type="com.tnt.project.dto.HistoryDTO">
        <id property="seq" column="SEQ"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="resultUrl" column="RESULT_URL"/>
        <result property="name" column="NAME"/>
        <result property="upperImageUrl" column="UPPER_IMAGE_URL"/>
        <result property="upperName" column="UPPER_NAME"/>
        <result property="lowerImageUrl" column="LOWER_IMAGE_URL"/>
        <result property="lowerName" column="LOWER_NAME"/>
        <result property="saveDate" column="SAVE_DATE"/>
    </resultMap>

    <select id="getHistoryList"  parameterType="string" resultMap="historyResultMap">
        select * from history where member_id = #{memberId,jdbcType=VARCHAR}
    </select>

    <select id="getHistoryBySeq" parameterType="int" resultMap="historyResultMap">
        select * from history where seq = #{seq}
    </select>

    <delete id="deleteHistory" parameterType="int">
        delete from history where seq = #{seq}
    </delete>

</mapper>
