<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

  <select id="findByUserId"
        parameterType="string"
        resultType="com.tnt.project.dto.MemberDTO">
    SELECT *
    FROM member
    WHERE id = #{id}
</select>

<!-- 회원가입 insert -->
    <insert id="insertMember" parameterType="com.tnt.project.dto.MemberDTO">
        INSERT INTO member(
            user_id,
            password,
            nickname,
            name,
            gender,
            birth,
            phone,
            email,
            profile_image_uuid,
            profile_image_original,
            profile_image_url,
            personal_color,
            body_shape,
            created_at,
            updated_at
        )
        VALUES(
            #{userId},
            #{password},
            #{nickname},
            #{name},
            #{gender},
            #{birth},
            #{phone},
            #{email},
            #{profileImageUuid},
            #{profileImageOriginal},
            #{profileImageUrl},
            #{personalColor},
            #{bodyShape},
            SYSTIMESTAMP,
            SYSTIMESTAMP
        )
    </insert>

</mapper>
