<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

    <!-- 아이디로 회원 조회 -->
    <select id="findByUserId" parameterType="string" resultType="com.tnt.project.dto.MemberDTO">
        SELECT
            id,
            password,
            nickname,
            name,
            gender,
            birth,
            phone,
            email,
            profile_image_uuid     AS image_uuid,
            profile_image_original AS image_original,
            profile_image_url      AS image_url,
            personal_color,
            body_shape,
            created_at,
            updated_at
        FROM member
        WHERE id = #{id}
    </select>


    <!-- 회원가입 INSERT -->
    <insert id="insertMember" parameterType="com.tnt.project.dto.MemberDTO">
        INSERT INTO member(
            id,
            password,
            nickname,
            name,
            gender,
            birth,
            phone,
            email,
            profile_image_uuid,
            profile_image_original,
            profile_image_url,
            personal_color,
            body_shape,
            created_at,
            updated_at
        )
        VALUES(
            #{id},
            #{password},
            #{nickname},
            #{name},
            #{gender},
            #{birth},
            #{phone},
            #{email},
            #{image_uuid},
            #{image_original},
            #{image_url},
            #{personal_color},
            #{body_shape},
            SYSTIMESTAMP,
            SYSTIMESTAMP
        )
    </insert>


    <!-- 마이페이지 수정 -->
    <update id="updateMyPage" parameterType="com.tnt.project.dto.MemberDTO">
        UPDATE member
        SET
            nickname              = #{nickname},
            phone                 = #{phone},
            personal_color        = #{personal_color, jdbcType=VARCHAR},
            body_shape            = #{body_shape, jdbcType=VARCHAR},
            profile_image_uuid     = #{image_uuid, jdbcType=VARCHAR},
            profile_image_original = #{image_original, jdbcType=VARCHAR},
            profile_image_url      = #{image_url, jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>


 
</mapper>
