<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Model">

    <insert id="insertModel" parameterType="com.tnt.project.dto.ModelDTO">
        INSERT INTO MODEL (
            SEQ,
            MEMBER_ID,
            MODELURL,
            MODELNAME,
            SAVEDATE
        ) VALUES (
            MODEL_SEQ.NEXTVAL,
            #{memberId, jdbcType=VARCHAR},
            #{modelUrl, jdbcType=CLOB},
            #{modelName, jdbcType=VARCHAR},
            SYSDATE
        )
    </insert>


 <select id="getModelList" resultType="com.tnt.project.dto.ModelDTO">
    
    select * from model 
    
    </select>
    
    
</mapper>