<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Model">

    <insert id="insertModel" parameterType="com.tnt.project.dto.ModelDTO">
        INSERT INTO MODEL (
            SEQ,
            MEMBER_ID,
            MODEL_URL,
            MODEL_NAME,
            SEX,
            SAVE_DATE
        ) VALUES (
            MODEL_SEQ.NEXTVAL,
            #{memberId, jdbcType=VARCHAR},
            #{modelUrl, jdbcType=CLOB},
            #{modelName, jdbcType=VARCHAR},
            #{sex, jdbcType=VARCHAR},
            SYSDATE
        )
    </insert>

    <resultMap id="modelResultMap" type="com.tnt.project.dto.ModelDTO">
        <id property="seq" column="SEQ"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="modelUrl" column="MODEL_URL"/>
        <result property="modelName" column="MODEL_NAME"/>
        <result property="sex" column="SEX"/>
        <result property="saveDate" column="SAVE_DATE"/>
    </resultMap>

    <select id="getModelList" parameterType="string" resultMap="modelResultMap">
        select * from model where member_id = #{memberId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteModel" parameterType="int">
        delete from model where seq = #{seq}
    </delete>

    <update id="editModel" parameterType="map">
        update model
        set model_name = #{name},
            sex = #{sex}
        where seq = #{seq}
    </update>

</mapper>
