<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="color">

<insert id="insert" parameterType="com.tnt.project.dto.PersonalcolorDTO">
    INSERT INTO personalcolor (
        seq,
        season,
        tone_type,
        best_color,
        worst_color,
        member_id
    ) VALUES (
        personal_color_seq.NEXTVAL,
        #{season},
        #{tone_type},
        #{best_color},
        #{worst_color},
        #{member_id}
    )
</insert>


   <update id="update" parameterType="com.tnt.project.dto.PersonalcolorDTO">
    UPDATE member
    SET personal_color = #{season}
    WHERE id = #{member_id}
</update>




</mapper>